* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #37474F;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 30%;

    padding: 10px 25px;
}


#first {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#first a {
    text-decoration: none;
    color: white;
}

#first a:hover {
    color: #FFAF2F;
}

#second {
    display: flex;
    gap: 5vw;
}

#second a {

    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

#second a:hover {
    color: #FFAF2F;
}

#imageBorder {
    height: 110px;
    width: 110px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}



footer {
    max-width: 100%;
    height: 25vh;
    margin-top: auto;
    background-color: #37474F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    padding: 0px 20px;
}

footer li {

    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {

    color: #FFAF2F;
}

footer div {
    display: flex;
    align-items: center;
}

footer img {
    height: 23px;
    width: 60px;
}

@media screen and (max-width: 848px) {

    nav {
        background-color: #37474F;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 25px;
    }

    #first {

        align-self: flex-start;
        margin-bottom: 35px;
    }

}